<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        body {
            background-color: rgb(125, 112, 112);
        }
    </style>
</head>
<body>
    <h1 align="center" style="color: azure;"><u>Object Detection by YOLOv8</u></h1>
    <br><br>
    <form action="/result" method="post" enctype="multipart/form-data">
        <div align="center">
            <input type="file" name="image" ><br><br>
            <input type="submit" value="detect" class="contents" style="color: white; background-color: green;">
        </div>
    </form><br>

</body>
</html>